@tailwind base;
@tailwind components;
@tailwind utilities;


.btn4{
  padding: 4px 20px;
  border: 2px solid rgb(56, 11, 220);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn4::before{
  content: '';
  background: 
  linear-gradient(45deg , rgb(176, 5, 34),rgb(52, 52, 224));
  position: absolute;
  top: 0;left: 0;
  width: 0px;
  height: 70px;
  z-index: -1;
  transition: 0.7s ease;
}
.btn4:hover{
  color: #fff;

}
.btn4:hover::before{
  width: 170px;
}

.inp{
  border: none;
  border-radius:10px ;
  width: min(300px,90%);
 
}

